footer
  hr(hoshade='', size='2', color='#FF4E50')
  .footer
    .footer__dreamshare DREAMSHARE
    .footer__company
      p.footer__company__text Company
      .footer__company__other
        p.footer__company__other__text About
        p.footer__company__other__text Contact
        p.footer__company__other__text Press
        p.footer__company__other__text Blog
        p.footer__company__other__text Terms and Privacy
        p.footer__company__other__text Help
    .footer__partners Partners
    .footer__icon
      p.footer__icon__text DESIGNED BY
      .footer__icon__bootmap
        .footer__icon__bootmap__icon