header.header
  .logo-buttons
    .logo DREAMSHARE
    .buttons
      button.buttons__log(type='button') Log in
      button.buttons__sign(type='button') Sign in
  .promo
    p.promo__bolt SHARE YOUR HOLIDAY DREAM
    p.promo__normal And find the perfect partner to fullfill it
    .promo_center
      button.promo__button(type='button') Find your holiday partner