main
  .dreamshare
    p.dreamshare__works How Dreamshare works?
    .dreamshare__step
      .dreamshare__step__one
        div
          button.dreamshare__step__one__button(type='button') STEP 1
          p.dreamshare__step__one__bolt Sed leo enim, condimentum
          p.dreamshare__step__one__normal
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
      .dreamshare__step__two
        div
          button.dreamshare__step__one__button(type='button') STEP 2
          p.dreamshare__step__one__bolt Morbi velit risus
          p.dreamshare__step__one__normal
            | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
      .dreamshare__step__three
        div
          button.dreamshare__step__one__button(type='button') STEP 3
          p.dreamshare__step__one__bolt Sed leo enim, condimentum
          p.dreamshare__step__one__normal
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
  .partners
    p.partners__text Meet a partner for your best holiday
    .partners__blocks
      .partners__blocks__first
        .partners__blocks__about
          .partners__blocks__about__profile
            .partners__blocks__about__one
            p.partners__blocks__about__bolt Bradley Hunter
            p.partners__blocks__about__normal Based in Chicago. I love playing tennis and loud music.
        .partners__blocks__about
          .partners__blocks__about__profile
            .partners__blocks__about__two
            p.partners__blocks__about__bolt Marie Bennett
            p.partners__blocks__about__normal Currently living in Colorado. Lover of art, languages and travelling.
      .partners__blocks__second
        .partners__blocks__about
          .partners__blocks__about__profile
            .partners__blocks__about__three
            p.partners__blocks__about__bolt Diana Wells
            p.partners__blocks__about__normal
              | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
        .partners__blocks__about
          .partners__blocks__about__profile
            .partners__blocks__about__four
            p.partners__blocks__about__bolt Christopher Pierce
            p.partners__blocks__about__normal Star Wars fanatic. I have a persistent enthusiasm to create new things.
    .partners__button__block
      button.partners__button(type='button') See other partners
  .discover
    p.discover__text Discover holiday activity ideas
    .discover__block
      .discover__block__first
        .discover__block__first__sport
          p.discover__block__text Sports and Activis
        .discover__block__first__health
          p.discover__block__text Wellness and Health
        .discover__block__first__extreme
          p.discover__block__text
            | Extreme Sports
            | and Expeditions
      .discover__block__second
        .discover__block__second__games
          p.discover__block__text Games
        .discover__block__second__culture
          p.discover__block__text Culture and Education
      .discover__block__third
        .discover__block__third__relax
          p.discover__block__text Enjomet and Relaxation
        .discover__block__third__trevelling
          p.discover__block__text Trevelling
  .holiday
    p.holiday__text Crate your holiday activity
    p.holiday__text2 Hi! What are your holiday interests?
    .holiday__search
      input.holiday__search__term(type='text', placeholder='Enter your insterests')
      button.holiday__search__button(type='submit') Search partners
