$main-text-color: #FFFFFF;
$dreamshare-color: #444444;
$red-text-color: #FF4E50;
$roboto-white: #F7F3F2;
$roboto-lightgrey: #E3E3E3;
$roboto-grey: #666666;
$roboto-footer: #999999;

$main-font: 'Montserrat', sans-serif;
$second-font: 'Roboto', sans-serif;